:root {
  --primary: 0, 132, 223;

  --info: 107, 85, 145;
  --success: 76, 175, 80;
  --warning: 255, 110, 96;

  --high: 251, 234, 229;
  --medium: 255, 253, 241;
  --low: 244, 250, 253;

  --grey-50: 255, 255, 255;
  --grey-100: 244, 246, 248;
  --gray-700: 145, 158, 171;
  --gray-900: 40, 49, 66;

  //--box-shadow: 0 1px 10px rgba(145,153,173,.25);
  --box-shadow: 0 1px 10px rgba(var(--gray-700), 0.25);
}
