:root {
    --display: normal normal 700 7rem 'Open Sans', sans-serif;
	--h1: italic normal 800 2.8rem/1.285 'Open Sans', sans-serif;
	--h2: normal normal 600 2.2rem/1.272 'Open Sans', sans-serif;
	--h3: normal normal 600 1.9rem/1.265 'Open Sans', sans-serif;
	--h4-bold: normal normal 700 1.7rem/1.412 'Open Sans', sans-serif;
	--h4-regular: normal normal 400 1.7rem/1.412 'Open Sans', sans-serif;
	--label-regular: normal normal 400 1.5rem/1.335 'Open Sans', sans-serif;
	--label-bold: normal normal 700 1.5rem/1.335 'Open Sans', sans-serif;
	--caption: normal normal 400 1.2rem/1.335 'Open Sans', sans-serif;
	--small: normal normal 400 1.1rem/1.335 'Open Sans', sans-serif;
}